html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.pagination .page-link {
    color: #333 !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item.active .page-link {
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
    color: #000 !important;
    font-weight: 600;
}

.pagination .page-link:hover {
    background-color: #f1f3f5 !important;
    color: #000 !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 6px;
    overflow: hidden;
    height: 32px;
    background: white;
}

.search-input {
    border: none;
    outline: none;
    padding: 0 8px;
    font-size: 14px;
    width: 150px;
}

.search-btn {
    border: none;
    background: transparent;
    padding: 0 8px;
    cursor: pointer;
    font-size: 14px;
}

    .search-btn:hover {
        background: #f2f2f2;
    }